 <!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>夺宝</title>
	
	<link href="{$Think.const.CSS_URL}/admin_main/css/weebox.css" rel="stylesheet">
	<link href="{$Think.const.CSS_URL}/admin_main/css/calendar.css" rel="stylesheet">
	<link href="{$Think.const.CSS_URL}/admin_main/css/style.css" rel="stylesheet">
	<link href="{$Think.const.CSS_URL}/admin_main/css/default.css" rel="stylesheet">
</head>
<script type="text/javascript">



</script>

<body>



<div class="main">
<div class="main_title">上线商品</div>
<div class="blank5"></div>
<div class="button_row">
	<a href="{:u('Goods/add')}" target="_self"><input type="button" class="button" value=" 新增商品 " /></a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="{:u('User/user_list')}" target="_self"><input type="button" class="button" value=" 会员列表 " /></a>
</div>
<div class="blank5"></div>
<div class="search_row">
	
</div>
<div class="blank5"></div>
<table id="dataTable" class="dataTable" cellpadding="0" cellspacing="0">
	<tbody>
		<tr><td colspan="17" class="topTd">&nbsp; </td></tr>
		<tr class="row">
			<th width="50px">编号</th>
			<th width="150px   ">商品名称  </th>
			<th width="100px   ">总价</th>
			<th width="100px   ">单价 </th>
			<th width="80px   ">份数</th>
			<th width="80px   ">已购买数</th>
			<th width="150px   ">状态</th>
			<th width="150px   ">创建时间</th>
			<th width="150px   ">开始时间</th>
			<th width="150px   ">结束时间</th>
			<th width="150px   ">幸运号 </th>
			<th width="150px   ">中奖人（id-昵称）</th>
			<th width="300px">操作</th>
		</tr>
		<foreach name="goods_list" item="goods">

		<tr class="row">
			<td>&nbsp;{$goods.id}</td>
			<td>&nbsp;{$goods.name}</a></td>
			<td>&nbsp;{$goods.total_price}</td>
			<td>&nbsp;{$goods.unit_price}</td>
			<td>&nbsp;{$goods.number}</td>
			<td>&nbsp;{$goods.pay_number}</td>
			<td>&nbsp;<span>{$goods.type}</span></td>
			<td>&nbsp;<span class="sort_span" >{$goods.creat_time}</span></td>
			<td>&nbsp;<span class="sort_span" >{$goods.begin_time}</span></td>
			<td>&nbsp;<span class="is_effect" >{$goods.end_time}</span></td>
			<td>&nbsp;<span class="is_effect" >{$goods.lucky_number}</span></td>
			<td>&nbsp;<span class="is_effect" >
			{$goods.user_id}-{$goods.user}
			
			</span></td>
			<td> 
				 【{$goods.id}】
				 <a href="{:u('Goods/edit',array('id' => $goods['id']))}">编辑</a>&nbsp;&nbsp;
				 <a href="{:u('Goods/delete',array('id' => $goods['id']))}">删除</a>&nbsp;&nbsp; 
				 <a href="{:u('Goods/input_lucky',array('id' => $goods['id']))}">输入幸运号</a>&nbsp; &nbsp; 
				 <a href="{:u('Goods/pay_list',array('id' => $goods['id']))}">购买列表</a>&nbsp;
		    </td>
		</tr>
		</foreach>
	</tbody>
</table>
<div class="blank5"></div>
</div>
</body>
</html>